{{template "partials/navbar" .}}

<strong id="about">About</strong>
<div class="content-area">
    <p>Welcome! upfast.tf is a personal project offering free Team Fortress 2 servers that are easy to set up and use.</p>
    <p>If you're interested in playing, you can sometimes find it live during weekends.</p>
</div>

<strong id="feedback">Feedback & Contact</strong>
<div class="content-area">
    <p>Email me <a id="email" href="mailto:simon@upfast.tf">here</a>.</p>
</div>

<strong id="privacy">Privacy</strong>
<div class="content-area">
    <p>upfast.tf does not collect any personal information from its users.</p>
</div>

<strong id="attribution">Attribution:</strong>
<div class="content-area">
    <p>Soldier Art by VirtuaWave (<a
        href="https://www.youtube.com/watch?v=MrS7bezmsdk" target="_blank" rel="noopener noreferrer">yt</a>,
        <a href="https://gamedev-neoncity.tumblr.com/" target="_blank" rel="noopener noreferrer">tumblr</a>)
    </p>
</div>

<script src="/js/about.js"></script>

{{template "partials/footer" .}}