{{template "partials/navbar" .}}

<strong id="about">About</strong>
<div class="content-area">
    <p>Welcome! upfast.tf is a personal project offering free <a
            href="https://store.steampowered.com/app/440/Team_Fortress_2/" target="_blank"
            rel="noopener noreferrer">Team Fortress 2</a> servers that are easy to set up and use.</p>
    <p>Servers are hosted on AWS EC2 instances created with Terraform and configured with Ansible.</p>
    <p>If you're interested in playing, you can sometimes find it live during weekends.</p>
</div>

<strong id="feedback">Future Plans</strong>
<div class="content-area">
    <p>My future plans for this site are to allow anyone to create and use servers for free.</p>
</div>
<strong id="feedback">Feedback & Contact</strong>
<div class="content-area">
    <p>Email me <a id="email" href="mailto:simon@upfast.tf">here</a>.</p>
</div>

<strong id="privacy">Privacy</strong>
<div class="content-area">
    <p>upfast.tf does not collect any personal information from its users.</p>
</div>

<strong id="attribution">Attribution:</strong>
<div class="content-area">
    <p>Soldier Art by VirtuaWave (<a href="https://www.youtube.com/watch?v=MrS7bezmsdk" target="_blank"
            rel="noopener noreferrer">yt</a>,
        <a href="https://gamedev-neoncity.tumblr.com/" target="_blank" rel="noopener noreferrer">tumblr</a>)
    </p>
</div>


{{template "partials/footer" .}}