{{template "partials/navbar" .}}

<div class="flexbox-center">
    <img src="/img/rjw.png" alt="" width="45px" style="border-radius: 15%;">
    <h2 style="font-weight: 400;">Welcome to upfast.tf!</h2>
</div>

<div style="text-align: center; font-style: italic; color: #bababa;">
    <p>simple tf2 servers</p>
</div>

<div class="content-area"><strong>Current servers:</strong></div>
<div id="server-table" class="content-area">
    <table>
        <tr id="header-row">
            <th>Region</th>
            <th>Status</th>
            <th>Map</th>
            <th>Players</th>
            <th>Connect</th>
        </tr>
        <tr id="default-row">
            <td class="region us">
                <img src="/img/us-west.svg" alt="US flag" class="flag-icon">
                <span>us-west</span>
            </td>
            <td>Offline</td>
            <td>-</td>
            <td>0/24</td>
            <td><a href="">Connect</a></td>
        </tr>
    </table>
</div>
<div class="content-area small-text" style="display: flex; justify-content: space-between; align-items: center;">
    <span id="how-to-connect">How to connect</span>
    <span id="refresh">Manual refresh</span>
</div>
<div class="content-area small-text" id="connection-steps" style="display: none;">
    <p><span style="font-weight: bold;">How do I connect to the server?</span><br>You can connect to the
        server using the "Connect" button on the server table.<br>You can also copy it into the console with
        <code>connect ip:27015</code>
    </p>
    <p><span style="font-weight: bold;">When is the server online?</span><br>The server is typically online
        during weekends.</p>
</div>

<div class="content-area" style="text-align: center; margin-bottom: 10px;">
    <strong>Create a server:</strong>
</div>
<div class="content-area flexbox-center">
    <button class="create-button" style="cursor: not-allowed;">Coming soon</button>
</div>







<!-- <div style="text-align: center; line-height: 1.9rem;">
    <div style="font-weight: normal; font-size: 1.1rem; margin-bottom: 10px;">Sample searches:</div>
    <div class="example-searches">
        <a href="/search?q=thrillers+with+unreliable+narrators">thrillers with unreliable narrators</a>
    </div>
    <div class="example-searches">
        <a href="/search?q=man%27s+perseverance+with+nature">man's perseverance over nature</a>
        <a href="/search?q=feelings+of+unrequited+love">feelings of unrequited love</a>
    </div>
    <div class="example-searches">
        <a href="/search?q=sci-fi+ai+ethics">sci-fi ai ethics</a>
        <a href="/search?q=non-linear+storytelling">non-linear storytelling</a>
    </div>
    <br>
    <div class="example-searches">
        <a href="/search?q=car+chase+through+san+francisco">car chase through san francisco</a>
        <a href="/search?q=vietnam+war">vietnam war</a>
    </div>
    <div class="example-searches">
        <a href="/search?q=similar+to+pulp+fiction">similar to pulp fiction</a>
    </div>
</div> -->

<br>

<script src="/js/index.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const howToConnect = document.getElementById('how-to-connect');
    const connectionSteps = document.getElementById('connection-steps');

    howToConnect.addEventListener('click', function() {
        if (connectionSteps.style.display === 'none') {
            connectionSteps.style.display = 'block';
        } else {
            connectionSteps.style.display = 'none';
        }
    });
});
</script>

{{template "partials/footer" .}}